In [ ]:
import pandas as pd
from tqdm import tqdm
tqdm.pandas()

In [ ]:
data=pd.read_excel("drive/MyDrive/DataScience_Datasets/Arjun/Review.xlsx")

In [ ]:
data.shape

(29999, 1)

In [ ]:
bus=pd.read_excel("drive/MyDrive/DataScience_Datasets/Arjun/Business.xlsx")

In [ ]:
bus.shape

(29999, 1)

In [ ]:
bus.head()

  {"business_id":"f9NumwFMBDn751xgFiRbNA","name":"The Range At Lake Norman","address":"10913 Bailey Rd","city":"Cornelius","state":"NC","postal_code":"28031","latitude":35.4627242,"longitude":-80.8526119,"stars":3.5,"review_count":36,"is_open":1,"attributes":{"BusinessAcceptsCreditCards":"True","BikeParking":"True","GoodForKids":"False","BusinessParking":"{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}","ByAppointmentOnly":"False","RestaurantsPriceRange2":"3"},"categories":"Active Life, Gun\/Rifle Ranges, Guns & Ammo, Shopping","hours":{"Monday":"10:0-18:0","Tuesday":"11:0-20:0","Wednesday":"10:0-18:0","Thursday":"11:0-20:0","Friday":"11:0-20:0","Saturday":"11:0-20:0","Sunday":"13:0-18:0"}}
0  {"business_id":"Yzvjg0SayhoZgCljUJRF9Q","name"...
1  {"business_id":"XNoUzKckATkOD1hP6vghZg","name"...
2  {"business_id":"6OAZjbxqM5ol29BuHsil3w","name"...
3  {"business_id":"51M2Kk903DFYI6gnB5I6SQ","name"...
4  {"business_id":"cKyLV5oWZJ2NudWgqs8VZw","name"...

In [ ]:
final_reviews=pd.DataFrame()
for i in tqdm(range(0,data.shape[0])):
  temp=pd.DataFrame(json.loads(data[data.index==i].iloc[0][0]),index=[0])
  final_reviews=final_reviews.append(temp)

100%|██████████| 29999/29999 [05:15<00:00, 94.99it/s]

In [ ]:
final_reviews.head()

                review_id  ...                 date
0  UmFMZ8PyXZTY2QcwzsfQYA  ...  2013-12-07 03:16:52
0  LG2ZaYiOgpr2DK_90pYjNw  ...  2015-12-05 03:18:11
0  i6g_oA9Yf9Y31qt0wibXpw  ...  2011-05-27 05:30:52
0  6TdNDKywdbjoTkizeMce8A  ...  2017-01-14 21:56:57
0  L2O_INwlrRuoX05KSjc4eg  ...  2013-05-07 07:25:25

[5 rows x 9 columns]

In [ ]:
final_reviews.to_csv('reviews.csv', index=False)

In [ ]:
final_business=pd.DataFrame()
for i in tqdm(range(0,bus.shape[0])):
  temp=pd.DataFrame(json.loads(bus[bus.index==i].iloc[0][0]),index=[0])
  final_business=final_business.append(temp)

100%|██████████| 29999/29999 [08:18<00:00, 60.18it/s]

In [ ]:
final_business.head()

              business_id  ... hours
0  Yzvjg0SayhoZgCljUJRF9Q  ...  None
0  XNoUzKckATkOD1hP6vghZg  ...  None
0  6OAZjbxqM5ol29BuHsil3w  ...   NaN
0  51M2Kk903DFYI6gnB5I6SQ  ...   NaN
0  cKyLV5oWZJ2NudWgqs8VZw  ...   NaN

[5 rows x 14 columns]

In [ ]:
final_business.to_csv('business.csv', index=False)

In [ ]:
final_reviews=pd.read_csv("drive/MyDrive/DataScience_Datasets/Arjun/reviews.csv")
final_business=pd.read_csv("drive/MyDrive/DataScience_Datasets/Arjun/business.csv")

In [ ]:
final_reviews.shape, final_business.shape

((29999, 9), (29999, 14))

In [ ]:
final_reviews.head(2)

                review_id  ...                 date
0  UmFMZ8PyXZTY2QcwzsfQYA  ...  2013-12-07 03:16:52
1  LG2ZaYiOgpr2DK_90pYjNw  ...  2015-12-05 03:18:11

[2 rows x 9 columns]

In [ ]:
final_business.head(2)

              business_id  ... hours
0  Yzvjg0SayhoZgCljUJRF9Q  ...   NaN
1  XNoUzKckATkOD1hP6vghZg  ...   NaN

[2 rows x 14 columns]

In [ ]:
final_business=final_business.rename(columns={'stars':'business_stars'})

In [ ]:
final_reviews=final_reviews.rename(columns={'stars':'review_stars'})

In [ ]:
final=pd.merge(left=final_reviews,right=final_business,on='business_id',how='left')

In [ ]:
final.head(2)

                review_id  ... hours
0  UmFMZ8PyXZTY2QcwzsfQYA  ...   NaN
1  LG2ZaYiOgpr2DK_90pYjNw  ...   NaN

[2 rows x 22 columns]

In [ ]:
final.to_csv('drive/MyDrive/DataScience_Datasets/Arjun/final_data.csv', index=False)