**Step 1:**
As the dataset files which are downloaded from www.yelp.com/dataset are in the form of Json. Firstly, open the Json file with MS-Excel and save it with .xlsx or .csv extension.

In [ ]:
# Import libraries
import pandas as pd
from tqdm import tqdm
tqdm.pandas()
import json

/usr/local/lib/python3.7/dist-packages/tqdm/std.py:658: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [ ]:
# Read the reviews data file using pandas
data=pd.read_excel("Reviews.xlsx")

In [ ]:
# Number of rows and columns of the data file
data.shape

(100000, 1)

In [ ]:
# Finding the first two rows of data
data.head(2)

  {"review_id":"xQY8N_XvtGbearJ5X4QryQ","user_id":"OwjRMXRC0KyPrIlcjaXeFQ","business_id":"-MhfebM0QIsKt87iDN-FNw","stars":2.0,"useful":5,"funny":0,"cool":0,"text":"As someone who has worked with many museums, I was eager to visit this gallery on my most recent trip to Las Vegas. When I saw they would be showing infamous eggs of the House of Faberge from the Virginia Museum of Fine Arts (VMFA), I knew I had to go!\n\nTucked away near the gelateria and the garden, the Gallery is pretty much hidden from view. It's what real estate agents would call \"cozy\" or \"charming\" - basically any euphemism for small.\n\nThat being said, you can still see wonderful art at a gallery of any size, so why the two *s you ask? Let me tell you:\n\n* pricing for this, while relatively inexpensive for a Las Vegas attraction, is completely over the top. For the space and the amount of art you can fit in there, it is a bit much.\n* it's not kid friendly at all. Seriously, don't bring them.\n* the security is not trained properly for the show. When the curating and design teams collaborate for exhibitions, there is a definite flow. That means visitors should view the art in a certain sequence, whether it be by historical period or cultural significance (this is how audio guides are usually developed). When I arrived in the gallery I could not tell where to start, and security was certainly not helpful. I was told to \"just look around\" and \"do whatever.\" \n\nAt such a *fine* institution, I find the lack of knowledge and respect for the art appalling.","date":"2015-04-15 05:21:16"}
0  {"review_id":"UmFMZ8PyXZTY2QcwzsfQYA","user_id...
1  {"review_id":"LG2ZaYiOgpr2DK_90pYjNw","user_id...

In [ ]:
# Read the business data file using pandas
bus=pd.read_excel("Business.xlsx")

In [ ]:
# Number of rows and columns of business file
bus.shape

(99999, 1)

In [ ]:
# Displaying first five rows of business file
bus.head()

  {"business_id":"f9NumwFMBDn751xgFiRbNA","name":"The Range At Lake Norman","address":"10913 Bailey Rd","city":"Cornelius","state":"NC","postal_code":"28031","latitude":35.4627242,"longitude":-80.8526119,"stars":3.5,"review_count":36,"is_open":1,"attributes":{"BusinessAcceptsCreditCards":"True","BikeParking":"True","GoodForKids":"False","BusinessParking":"{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}","ByAppointmentOnly":"False","RestaurantsPriceRange2":"3"},"categories":"Active Life, Gun\/Rifle Ranges, Guns & Ammo, Shopping","hours":{"Monday":"10:0-18:0","Tuesday":"11:0-20:0","Wednesday":"10:0-18:0","Thursday":"11:0-20:0","Friday":"11:0-20:0","Saturday":"11:0-20:0","Sunday":"13:0-18:0"}}
0  {"business_id":"Yzvjg0SayhoZgCljUJRF9Q","name"...
1  {"business_id":"XNoUzKckATkOD1hP6vghZg","name"...
2  {"business_id":"6OAZjbxqM5ol29BuHsil3w","name"...
3  {"business_id":"51M2Kk903DFYI6gnB5I6SQ","name"...
4  {"business_id":"cKyLV5oWZJ2NudWgqs8VZw","name"...


**Step 2:**
Convert the Json file into dataframe using Json Loads.

In [ ]:
# Loading the dataset file into a dataframe using Json Loads
final_reviews=pd.DataFrame()
for i in tqdm(range(0,data.shape[0])):
  temp=pd.DataFrame(json.loads(data[data.index==i].iloc[0][0]),index=[0])
  final_reviews=final_reviews.append(temp)

100%|██████████| 100000/100000 [1:08:35<00:00, 24.30it/s]

In [ ]:
# Displaying first 5 rows of Reviews dataframe
final_reviews.head()

                review_id  ...                 date
0  UmFMZ8PyXZTY2QcwzsfQYA  ...  2013-12-07 03:16:52
0  LG2ZaYiOgpr2DK_90pYjNw  ...  2015-12-05 03:18:11
0  i6g_oA9Yf9Y31qt0wibXpw  ...  2011-05-27 05:30:52
0  6TdNDKywdbjoTkizeMce8A  ...  2017-01-14 21:56:57
0  L2O_INwlrRuoX05KSjc4eg  ...  2013-05-07 07:25:25

[5 rows x 9 columns]

In [ ]:
# Generate a csv file for reviews dataframe
final_reviews.to_csv('reviews.csv', index=False)

In [ ]:
# Loading the business dataset file into a dataframe using Json Loads
final_business=pd.DataFrame()
for i in tqdm(range(0,bus.shape[0])):
  temp=pd.DataFrame(json.loads(bus[bus.index==i].iloc[0][0]),index=[0])
  final_business=final_business.append(temp)

100%|██████████| 99999/99999 [1:44:17<00:00, 15.98it/s]

In [ ]:
# # Displaying first 5 rows of business dataframe
final_business.head()

              business_id  ... hours
0  Yzvjg0SayhoZgCljUJRF9Q  ...  None
0  XNoUzKckATkOD1hP6vghZg  ...  None
0  6OAZjbxqM5ol29BuHsil3w  ...   NaN
0  51M2Kk903DFYI6gnB5I6SQ  ...   NaN
0  cKyLV5oWZJ2NudWgqs8VZw  ...   NaN

[5 rows x 14 columns]

In [ ]:
# Generate a csv file for business dataframe
final_business.to_csv('business.csv', index=False)

In [ ]:
# Load the "reviews.csv" into final_reviews
# Load the "business.csv" into final_business
final_reviews=pd.read_csv("reviews.csv")
final_business=pd.read_csv("business.csv")

In [ ]:
# Displaying rows and columns of reviews and business files.
final_reviews.shape, final_business.shape

((100000, 9), (99999, 14))

In [ ]:
# Displaying head of review file
final_reviews.head(2)

                review_id  ...                 date
0  UmFMZ8PyXZTY2QcwzsfQYA  ...  2013-12-07 03:16:52
1  LG2ZaYiOgpr2DK_90pYjNw  ...  2015-12-05 03:18:11

[2 rows x 9 columns]

In [ ]:
# Displaying head of business file
final_business.head(2)

              business_id  ... hours
0  Yzvjg0SayhoZgCljUJRF9Q  ...   NaN
1  XNoUzKckATkOD1hP6vghZg  ...   NaN

[2 rows x 14 columns]

In [ ]:
# As we have same column name as "stars" in both the files, rename the stars in final_business as "business_stars" 
final_business=final_business.rename(columns={'stars':'business_stars'})

In [ ]:
# As we have same column name as "stars" in both the files, rename the stars in final_reviews as "reviews_stars"
final_reviews=final_reviews.rename(columns={'stars':'review_stars'})



**Step 3:** 
Merge the Business and reviews datasets on "business_id".

In [ ]:
# Applying left merge on both the files using "business_id"
final=pd.merge(left=final_reviews,right=final_business,on='business_id',how='left')

In [ ]:
# Displaying first two rows of final data
final.head(2)

                review_id  ... hours
0  UmFMZ8PyXZTY2QcwzsfQYA  ...   NaN
1  LG2ZaYiOgpr2DK_90pYjNw  ...   NaN

[2 rows x 22 columns]

In [ ]:
# Converting the final data into "final_data.csv" for future use.
final.to_csv('final_data.csv', index=False)